.-roundedCorners5 {
    border-radius: 5px 5px 5px 5px; 
}

.-roundedCorners10 { 
    border-radius: 10px 10px 10px 10px; 
}

/******************************************************************************/

.-yellow {
    background-color : #f5c057;
    color : #222;
}

.-lightYellow {
    background-color : #ffd06d;
    color : #222;
}

.-yellow a,
.-lightYellow a {
    color : #222;
    font-weight : bold;
    text-decoration : none;
}

.-yellow a:hover,
.-lightYellow a:hover {
    color : #556;
    text-decoration : underline;
}

.-orange {
    background-color : #d04900;
    color : #eee; 
}

.-orange--action:hover {
    background-color : #b63c20;
    color : #fff; 
}

.-darkRed {
    background-color : #b63c20;
    color : #eee;
}

.-darkRed--constant:hover,
.-darkRed--constant:visited {
    background-color : #b63c20;
    color : #eee;
}