.news {
    padding : 20px;
}

.news .news__header {
    margin-bottom : 10px;
}

.news__header .news__title {
    float : left;
    font-size : 22px;
}

.news__header .news__date {
    float : right;
    font-size : 14px;
}

.news  .news__content {
    
}

.news__content .news__image {
    float : left;
    max-width : 400px;
    max-height : 400px;
    margin-right : 25px;
    margin-bottom : 25px;
}

.news__content .news__text {
    font-size : 16px;
    
}